* {
  background-color: black;
  border-color: white;
  color: white;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'rounded-mgenplus';
  src: font-url('rounded-mgenplus-1p-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main {
  height: 100vh;
  padding-top: 70px;
  background-color: black;
  .main-wrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;
    @include mq($breakpoint: md) {
      height: 100%;
      width: 60%;
      margin: 0 auto;
      border: 2px solid;
      border-top: 0 solid;
      overflow: scroll;
    }
  }
}
